/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.author-avatar-components-panel {
  padding: 16px;

  .donate {
	display: block;
	text-align: center;
	//img {
	//  margin-right: auto;
	//  margin-left: auto;
	//}

  }
}
.author-avatars-preview{
  width: 100%;
}

.wp-block-author-avatars-show-avatar {
  display: flow-root;

  .shortcode-author-avatars {
	a {
	  font-size: 1rem;

	}

  }


}


//.wp-block-author-avatars  {
//  background: $green;
//  border: 0.2rem solid $black;
//  color: $black;
//  margin: 0 auto;
//  max-width: 740px;
//  padding: 2rem;
//}
//.shortcode-author-avatars .author-list {
//  float: left;
//  width: 100%;
//  padding-bottom: 1.5em;
//}
//
//.shortcode-author-avatars div.author-list .user {
//  display: block;
//  float: left;
//  padding: 0.2em;
//  text-align: center;
//}
.shortcode-author-avatars div.author-list .user {
  text-align: center;

  .name {
	display: block;
	font-size: .85em;
  }
}

.shortcode-author-avatars ul.author-list {
  list-style: none;
  margin: 0;
}

.shortcode-author-avatars ul.author-list .avatar,
.shortcode-author-avatars ol.author-list .avatar {
  float: left;
  clear: left;
  margin-right: .25em;
}

.shortcode-author-avatars div.aa_pageList {
  width: 100%;
  clear: left;
  text-align: center;
}

.shortcode-author-avatars div.aa_pageList div {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.shortcode-author-avatars div.aa_pageList a {
  padding: 2px 4px;
  border: 1px #BFBFBF solid;
  margin: 0 2px;
}

.shortcode-author-avatars div.aa_pageList a.current, .shortcode-author-avatars div.aa_pageList a:hover {
  border-color: black;
}

.shortcode-author-avatars div.aa_pageList a.current {
  font-weight: bold;
}

.shortcode-show-avatar {
  display: block;

}

.shortcode-show-avatar.right {
  float: right;
  margin-left: 10px;
  width: auto;
  text-align: center;
}

.shortcode-show-avatar.left {
  float: left;
  margin-right: 10px;
  width: auto;
  text-align: center;
}

.shortcode-show-avatar.center img {
  margin-left: auto;
  margin-right: auto;

}

.contact-links ul {
  list-style: none;
  margin-left: 0;
}
